.about {
  background-color: #fff;
  padding: 10% 20% 10% 20%;
}

.about_jumbo {
  background-color: #fff;
}

.about_block {
  font-family: 'Lato';
  padding: 1% 10% 3% 10%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about_block h2 {
  display: block;
  width: 80%;
  margin: -3% auto 8% auto;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
}

.about_block p {
  text-align: center;
}
