.contact {
  background-color: #fff;
  padding: 10% 20% 10% 20%;
}

.contact_jumbo {
  background-color: #fff;
}

.contact_jumbo_block {
  font-family: 'Lato';
  padding: 1% 10% 3% 10%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_jumbo_block h2 {
  display: block;
  width: 80%;
  margin: -3% auto 8% auto;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
}

.contact_jumbo_block p {
  text-align: center;
  margin-bottom: 30px;
}

.contact_jumbo_block_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_link {
  text-decoration: none;
  color: #000;
  margin: 0 20px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact_link:hover {
  opacity: 0.3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
