.work_block {
  background-image: url("../image/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 150px;
  overflow: hidden;
  margin: 0 0 0 50px;
}

.work_link {
  width: 100%;
  min-height: 150px;
  display: block;
  text-align: right;
  color: #fff;
  position: relative;
}

.work_link span {
  display: block;
  padding: 50px 5px 0 0;
}

.work_cover {
  width: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 0;
  background-color: #ccc;
  color: #000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.work_cover span {
  display: block;
  padding: 40px 5px 0 5px;
  text-align: center;
}

.work_block:hover .work_cover {
  margin: 0 200px 0 -200px;
  -webkit-transition: 1s;
  transition: 1s;
}
