@media (max-width: 1000px) {
    .modal_window {
        width: 300px;
        top: 20%;
        left: 32%;
    }
}

@media (max-width: 650px) {
    .modal_window {
        width: 300px;
        top: 20%;
        left: 25%;
    }
}

@media (max-width: 550px) {
    .modal_window {
        width: 300px;
        top: 20%;
        left: 15%;
    }
}

@media (max-width: 499px) {
    h2 {
        font-size: 18px;
    }
    .header h1 {
        font-size: 20px;
    }
    .about,
    .services,
    .what,
    .contact {
        padding: 10% 10% 10% 10% !important;
    }
    .header h1 {
        padding: 22% 10% 0 10% !important;
        letter-spacing: 5px;
    }
    .header p {
        padding: 10px 10% 20% 10%!important;
    }
    .modal_window {
        width: 300px;
        top: 20%;
        left: 3%;
    }
}